@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80') !important;
}


.main-container {
  display: flex;
  flex-wrap: wrap;
}

.main-container > * {
  flex-basis: 1 1 33em;
}

.main-content {
  padding: 3em;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color:  rgb(24, 27, 34);
}

.bio {
  text-align: center;
  color:  rgb(24, 27, 34);
  margin-top: 16px;
}

.waveportal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messenger {
  margin-top: 10px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

input {
  width: 100%;
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.wave-button {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color:  aliceblue;
  background-color: rgb(55, 71, 109);
}

.waveButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.disconnectButton {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: salmon;
  --gradient: linear-gradient(90deg, #69719b 0px, #8f9ca8 40px, #a7b3b4 80px);
  background-color: #69719b;

}

.disconnectButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

:root {
  --gradient: linear-gradient(90deg, #69719b 0px, #8f9ca8 40px, #a7b3b4 80px);
  --grey: #eee;
  --text: #ccc;
  --animation: shine 1.4s infinite linear;
  --animation-header: shine-header 1.6s infinite linear;
}

.mining {
  width: 100%;
  height: 25px;
  margin-top: 5px;
  border-radius: 0.5em;
  align-self: center;
  background-image: var(--gradient);
  animation: var(--animation);
  background-size: 225px;
}

@keyframes shine {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 200px;
  }
}

@keyframes shine-header {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 270px;
  }
}